@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body{
	background-color: #ededed;
	font-family: 'Oswald';
	position: relative;
	margin-top: 0;
}

/*======================================================================
##		Global Settings
=======================================================================*/
.btn-robot, p{
	font-family: 'Roboto';
	line-height: 1.5;
	letter-spacing: 1px;
	font-weight: 300;
}
.mt0{
	margin-top: 0;
}
.thin{
	font-weight: 300;
}
.c-table{
	display: table;
	height: 100%;
}
.c-cell{
	display: table-cell;
	vertical-align: middle;
}
.title-box{
	text-align: center;
	padding: 100px 0 50px;
	text-transform: uppercase;
}
.title-box p{
	margin-bottom: 0;
}
.title{
	font-weight: 300;
	color: #999;
	font-size: 36px;
	letter-spacing: 2px;
}
.title.mt0{
	text-transform: capitalize;
}
.title span{
	color: #444;
}
.btn-robot{
	border-radius: 0;
	background-color: #fabe12;
	color: #fff;
	text-transform: uppercase;
	border-color: transparent;
	padding: 5px 15px;
	transition: all 0.4s ease-in-out;
	letter-spacing: 1px;
	font-weight: 300;
	margin-top: 15px;
}
.btn-robot:hover{
	background-color: transparent;
	color: #fabe12;
	border-color: #fabe12;
}





/*======================================================================
##		Header Section
=======================================================================*/
.site-header-bg{
	width: 100%;
	background-color: #111;
	z-index: 1;
	padding: 30px 0;
}
.main-header{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 3px;
	background: #111;
	position: relative;
}
.header-quote{
	color: #fabe12;
	font-weight: 700;
	margin-bottom: 0;
}
.main-header p{
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 6px;
}
.header-title{
	font-weight: 700;
}
.header-title .thin{
	letter-spacing: 6px;
}
.intro{
	padding: 200px 0;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px;
    z-index: 11;
    position: relative;
}
.nutral{
	background-color: #ebebeb;
	height: 90px;
	z-index: 10;
	position: relative;
}



/*======================================================================
##		Footer widget Section
=======================================================================*/
.footer-widget{
	padding: 80px 0;
	border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.footer-widget .section-bg{
	background-color: #ebebeb;
	text-align: center;
	text-transform: capitalize;
}
.footer-widget h3{
	border-bottom: 1px solid rgba(153, 153, 153, 0.3);
	color: #999;
	padding-bottom: 25px;
	margin-bottom: 15px;
	font-weight: 300;
	letter-spacing: 2px;
}
.footer-widget ul{
	padding-left: 0;
}
.footer-widget ul li{
	list-style-type: none;
	padding: 7px 0;
}
.footer-widget ul li:before{
	content: "\f363";
	font-family: 'ionicons';
	padding-right: 5px;
	font-size: 14px;
	color: #999;
}
.footer-widget ul li a{
	color: #999;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
}
.widget-img-box{
	margin-top: 30px;
}
.widget-img{
	width: 49%;
	display: inline-block;
}
.footer{
	padding: 10px 0 20px;
}
.footer h3, .footer a{
	color: #999;
	font-weight: 300;
	letter-spacing: 2px;
}







/*======================================================================
##		Product Section
=======================================================================*/
.product .section-bg{
	background-color: #fff;
}
.classic-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.outer-stiker{
	display: inline-block;
	color: #d0d0d0;
}
.stiker{
	background-color: #fabe12;
	position: relative;
	display: inline-block;
	margin-right: 56px;
	z-index: 2;
	margin-left: -15px;
	padding-left: 15px;
}
.stiker:after{
	position: absolute;
	content: '';
	height: 79.2px;
	width: 79.2px;
	transform: rotate(45deg);
	right: -39px;
	top: -39px;
	background-color: #fabe12;
	z-index: 1;
}
.inner-stiker{
	color: #fff;
}
.outer-stiker, .inner-stiker{
	font-weight: 300;
}
.product p{
	color: #999;
	font-size: 14px;
	text-align: justify;
	margin-bottom: 30px;
}
.product p.p-large{
	font-size: 16px;
	font-weight: 400;
}
@media (min-width: 768px){
	.boxed{
		padding: 0 80px;
	}
}




/*======================================================================
##		History Section
=======================================================================*/
.history .section-bg{
	background-color: #111;
	text-align: center;
}
.history p{
	color: #fff;
}
.history .title{
	color: #fabe12;
}
.history img{
	padding: 60px 0 0;
}



/*======================================================================
##		Partner Section
=======================================================================*/
.partner .section-bg{
	background-color: #fff;
	text-align: center;
	padding-bottom: 80px;
}
.partner .title{
	color: #111;
}